body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;

    /* font-family:  */
}

.header-content {
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}



#card {
    padding-top: 7%;
    padding-left: 5%;
    transition: 0.6s;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(126, 85, 204, 0.2);
}

.half-width img {
    width: 481px;
    height: 550px;
    padding-top: 18%;
    padding-left: 5%;
    padding-right: 35px;


}

button {
    text-decoration: none;
    background: linear-gradient(45deg, rgb(245, 0, 0), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}